---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
  font: 400 18px/1.5 "Crimson Text", serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
